<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">

  <br></br>

  <label>Choose an existing owner:</label>
  <br></br>

  <% Owner.all.each do |owner| %>
    <input type="radio" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>" <%='checked' if @pet.owner == owner %>>
    <%=owner.name%>
    </input>
  <% end %>

  <br></br>
  <label>and/or, create a new owner:</label>
  <br></br>
  <label>Name:</label>
    <input type="text" name="owner[name]" id="owner_name"></input>

  <br></br>

  <input type="submit" value="Update Pet">
</form>
