<h1>Edit Your Song</h1>
<form action="/songs/<%= @song.slug %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label><input type="text" id="Name" name="song[name]" value="<%= @song.name %>"><br><br>
  <label>Artist:</label><input type="text" id="Artist Name" name="song[artist]" value="<%= @song.artist.name %>"><br><br>
  <label>Genres:</label><br>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" id="<%= genre.name %>" name="song[genres][]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>>
    <%= genre.name %>
    </input>
    <br>
  <% end %>
  <br>
  <input type="submit" value="Save">
</form>
