<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= "#{@name}" %></h1>
   <h2>Coach: <%= "#{@coach}" %></h2>
   <h2>Point Guard: <%= "#{@pg}" %></h2>
   <h2>Shooting Guard: <%= "#{@sg}" %></h2>
   <h2>Small Forward: <%= "#{@sf}" %></h2>
   <h2>Power Forward: <%= "#{@pf}" %></h2>
   <h2>Center: <%= "#{@center}" %></h2>
 </body>
</html>
