<h1>Artist - <%= @artist.name %></h1>
<p><u>Songs:</u></p>
<ul>
  <% @artist.songs.each do |s| %>
    <li><a href="/songs/<%= s.slug %>"><%= s.name %></a></li>
  <% end %>
</ul>
<p><u>Genres:</u></p>
<ul>
  <% @artist.genres.each do |g| %>
    <li><a href="/genres/<%= g.slug %>"><%= g.name %></a></li>
  <% end %>
</ul>
